{% extends 'base.html' %}

{% block headerClass %}portfolio-hero{% endblock %}
{% block bgHeader %}BG_home.jpg{% endblock %}
{% block headerMessage %}
   <h1>MEU PORTFOLIO</h1>
{% endblock %}
{% block content %}

<div class="section">
    <div class="w-container">
       <div class="w-dyn-list">
          <div class="w-clearfix w-dyn-items w-row">
             <div class="project-block w-col w-col-4 w-dyn-item">
                <a class="project-link w-inline-block" href="/projeto-detalhes">
                   <div class="project-image" style="background-image: url('/static/uploads/projetos/thumbnails/projeto1-thumbnail.jpg');"></div>
                   <div class="project-tag" style="background-color: #b058da;">Web Design</div>
                   <div class="project-title">Awesome Company Logo Design</div>
                </a>
             </div>
             <div class="project-block w-col w-col-4 w-dyn-item">
                <a class="project-link w-inline-block" href="/projeto-detalhes">
                   <div class="project-image" style="background-image: url('/static/uploads/projetos/thumbnails/projeto1-thumbnail.jpg');"></div>
                   <div class="project-tag" style="background-color: #2fcc94;">Branding</div>
                   <div class="project-title">Sketch Designs</div>
                </a>
             </div>
          </div>
       </div>
    </div>
 </div>
 {% endblock %}   