{% extends 'base.html' %}

{% block headerClass %}home-page-hero{% endblock %}
{% block bgHeader %}BG_home.jpg{% endblock %}
{% block headerMessage %} 
   <h1 class="home-page-heading" data-ix="hero-text">
      Magic is something you create.       
   </h1>
{% endblock %}
{% block content %}
 <div class="home-page section top-section">
    <div class="hero-container w-container">
       <div class="w-clearfix">
          <div class="_60block" data-aos="zoom-out-up" data-aos-duration="1000"  >
             <a class="hero-tile w-inline-block" href="/sobre-mim" >
                <div class="tile-text">Sobre<br>Mim.</div>
                <div class="tile-image" style="background-image: url('/static/images/sobremim.jpg');" >
                   <div class="tile-overlay"></div>
                </div>
             </a>
          </div>
          <div class="_40block" data-aos="zoom-out-up" data-aos-duration="1000" data-aos-delay="300" >
             <div class="hero-tile w-dyn-list">
                <div class="w-dyn-items">
                   <div class="w-dyn-item">
                      <a class="tile-link w-inline-block" href="/projetos">
                         <div class="tile-text">Últimos<br>Projetos.</div>
                         <div class="tile-image" style="background-image: url('/static/images/ultimosprojetos.jpg');">
                            <div class="tile-overlay"></div>
                         </div>
                      </a>
                   </div>
                </div>
             </div>
          </div>
          <div class="_33block" data-aos="zoom-out-up" data-aos-duration="1000" data-aos-delay="600" >
             <div class="hero-tile">
                <div class="w-dyn-list">
                   <div class="w-dyn-items">
                      <div class="w-dyn-item">
                         <a class="tile-link w-inline-block" href="/blog">
                            <div class="tile-text">Meus<br>Posts.</div>
                            <div class="tile-image" style="background-image: url('/static/images/ultimosposts.jpg');">
                               <div class="tile-overlay"></div>
                            </div>
                         </a>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="_33block" data-aos="zoom-out-up" data-aos-duration="1000" data-aos-delay="900" >
             <a class="hero-tile w-inline-block openContact" >
                <div class="tile-text">Entre em<br>Contato.</div>
                <div class="hire tile-image" style="background-image: url('/static/images/hireme.jpg');">
                   <div class="tile-overlay"></div>
                </div>
             </a>
          </div>
          <div class="_33block">
             <div class="w-clearfix">
                <a class="linkedin social-block w-inline-block" target="__blank" href="https://www.linkedin.com/in/thailan-higor/" 
                  data-aos="fade-down-right" data-aos-duration="800" data-aos-delay="1400" ></a>

                <a class="instagram social-block w-inline-block" target="__blank"  href="https://www.instagram.com/thailanhigor/" 
                     data-aos="fade-down-left" data-aos-duration="800" data-aos-delay="1400">
                   <img src="/static/icons/instagram.png">
                </a>

                <a class="github social-block w-inline-block" target="__blank"  href="http://github.com/ThailanHigor/" 
                     data-aos="fade-up-right" data-aos-duration="800" data-aos-delay="1400"></a>

                <a class="facebook social-block w-inline-block" target="__blank"  href="https://www.facebook.com/thailan.higor" 
                     data-aos="fade-up-left" data-aos-duration="800" data-aos-delay="1400"></a>
               
            </div>
          </div>
       </div>
    </div>
 </div>
{% endblock %}